@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Open+Sans:wght@300;400&display=swap');
:root {
    --primary:          #72cb10;
    --primary-light:    #a7ff51;
    --primary-dark:     #3a9900;
    --secondary:        #2c2335;
    --secondary-light:  #554b5f;
    --secondary-dark:   #02000f;
}
html {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}
body {
    width: 100vw;
    overflow-x: hidden;
}