#main-nav {
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, rgba(43,20,65,1) -40%, rgba(2,0,15,1) 100%);
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-start;
}
#main-nav #logo {
    display: block;
    height: 40px;
    width: 100px;
    padding: 10px;
    padding-left: 1rem;
}
#main-nav #logo img{
    height: 40px;
}
#main-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    margin: 0;
    height: 100%;
    width: 100%;
    padding-right: 1rem;
}
#main-nav ul li {
    cursor: pointer;
    font-size: 1.1rem;
    height: 34px;
    padding: 0 .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    color: inherit;
    text-decoration: none;
}
#main-nav ul li:hover {
    background-color: var(--primary-light);
    color: var(--secondary);
    transform: scale(1.1);
}
#second-nav {
    position: absolute;
    bottom: 0;
    margin: 2rem;
}
#second-nav button {
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 4rem;
    font-family: "Cabin Condensed";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: .6rem;
    color: var(--secondary-dark);
    cursor: pointer;
    transition: .2s;
}
#second-nav button:hover {
    background-color: var(--primary);
    color: white;
    transform: scale(1.2) rotate(-90deg);
}
#second-nav button:focus {
    outline: none;
}