@media (min-width: 1500px) {
    #contact .contact-card p {
        font-size: 3rem;
        border-radius: 6px;
        margin: 2rem;
        padding: 2rem;
    }
}
@media (max-width: 767px) {
    #contact .contact-card p {
        font-size: 1rem;
    }
    #contact .social-medias p {
        display: none;
    }
    #contact .social-medias a {
        margin: 0 .4rem;
        padding: 0;
    }
    #contact .social-medias a img {
        margin: 0;
        padding: 0;
        height: 100%;
    }
}
@media (max-width: 480px) {
    #contact .contact-card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    #contact .contact-card img {
        width: 60vw;
        height: 60vw;
    }
    #contact .social-medias {
        margin-top: -30px;
    }
    #contact .social-medias p {
        display: none;
    }
    #contact .social-medias a {
        margin: 0;
        padding: 0;
    }
    #contact .social-medias a img {
        margin: 0 .4rem;
        padding: 0;
    }
}