#projects {
    color: white;
    height: 100vh;
    width: 100%;
    background-image: url("../img/work-5382501_1920.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#projects h2 {
    background-color: rgba(2, 0, 15, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cabin Condensed";
    text-align: center;
    font-size: 3rem;
    height: 100%;
    grid-column: 1/4;
    margin: 0;
}
#projects #projects-container {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 2/5;
}
#projects .projects-container {
    overflow-y: hidden;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    transition: 1s;
}
#projects .project-item {
    background: white;
    border: 4px solid var(--secondary-light);
    margin: 2rem;
    height: 80%;
    width: 80%;
}
#projects .project-item:hover {
    cursor: pointer;
    background: lightgray;
    border: 4px solid var(--secondary);
    transition: .3s;
}
#projects .arrow-buttons-container {
    grid-column: 2/3;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#projects .arrow-buttons-container button {
    width: 60px;
    height: 60px;
    font-family: "Cabin Condensed";
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin: 1rem;
    background: var(--secondary-dark);
    border: 4px solid white;
    border-radius: 50%;
    outline: none;
    color: white;
    transition: .4s;
}
#projects .arrow-buttons-container button:hover {
    background: var(--primary);
    border: 4px solid white;
    border-radius: 50%;
    outline: none;
    color: white;
    transform: scale(1.2);
    cursor: pointer;
}